.balance-position {
	background-color: var(--color-primary);
	border: 1px solid var(--color-button-border);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	margin: 1rem auto;
	width: max-content;
	width: 280px;
}

.balance-position__header {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.balance-position__title {
	color: var(--color-secondary);
}

.balance-position__add-item {
	background-color: var(--color-button-green);
	border: 1px solid var(--color-button-border);
	border-radius: 20px;
	color: var(--color-light);
	font-family: var(--font-family);
	height: fit-content;
	padding: 0.6rem 0.8rem;
	width: fit-content;
	transition: all 0.3s ease-in;
}

.balance-position__add-item:hover {
	background-color: var(--color-button-green-hover);
}

@media screen and (min-width: 760px) {
	.balance-position {
		width: 300px;
	}
}
